// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
	font-family: 'Segoe Print';
	font-style: normal;
	font-weight: normal;
	src: font-url('segoe_print.ttf') format('truetype');
}

@font-face {
	font-family: 'Balonku Regular';
	font-style: normal;
	font-weight: normal;
	src: font-url('Balonku-Regular.otf') format('opentype');
}

.home-container {
	
}
.home-title {
	padding-top: 50px;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;	
}
.home-title-text {
	font-family: "Balonku Regular";
	font-size: 140px;
	color: black;
    line-height: 130px;
}
.home-img-landing {
    width: 500px;
    margin-bottom:30px;
}


@media (max-width: 1200px){
	.home-title-text {
		font-size: 11vw;
	}
	.home-img-landing {
		width: 41.66vw;
	}
}
@media (max-width: 760px){
	.home-title-text {
		font-size: 13.33vw;
		line-height: 13.33vw;
	}

}



.btn-home {
	color: white;
	border-radius: 5px;
	border: none;
	width: 300px;
	height: 50px;
	margin: 10px;
	display: inline-block;
}
.home-btn-group {
	max-width: 1170px;
	text-align: center;
	margin: 0px auto;
}
.btn-green {
	background-color: #00b050;
}
.btn-yellow {
	background-color: #ffc000;
}
.btn-pink {
	background-color: #7030a0;
}
.btn-red {
	background-color: #c42d54;
}
.btn-blue {
	background-color: #00b0f0;
}
.footer {
	padding-top: 70px;
	text-align: center;
	font-weight: bold;
	padding-bottom:70px;
}
.footer > a {
	color:blue;
	text-decoration: underline;
	display: inline;
}

.footer > p {
	display: inline;
}

@media (max-width: 350px) {
	.btn-home {
		width: 80vw;
		height: 20vw;
		font-size: 5vw;
		display: inline-block;
	}
}

.landing-video {
	display: none;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(10,10,10,0.9);
    position: fixed;
    top: 0px;
    height: 100%;
}
.landing-video video {
	margin: 20vh auto;
	width: 700px;
	display: block;
}